@import "_variables";
@import "mixins";

.l-form-section {
    text-align: center;
}

.c-form-title {
    @include titles;
}

.c-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &>* {
        background-color: rgba(250, 250, 250, 0.1);
        border: 1px solid rgba(250, 250, 250, 1);
        margin-bottom: 3rem;
        width: 100%;
        padding: 0.7rem 1rem;

    }

    &__name,
    &__email {
        width: 46%;

        @media#{$small-tablet} {
            width: 100%;
        }
    }
}

.c-btn-form {
    @include button;
}