$redColor: #a43f49;
$whiteColor: #fff;
$localFont: 'Lato',
sans-serif;
$weight-m: 700;
$weight-lg: 800;

$phone: "(max-width: 480px)";
$small-tablet: "(max-width: 768px)";
$tablet: "(max-width: 1024px)";
$wide: "(max-width: 1350px)";
$super-wide: "(min-width: 1351px)";

$height: "(max-height: 838px)";